<template name="api.AngularMeteorCollection.html">
  <div>
    <a href="https://github.com/Urigo/angular-meteor/edit/master/.docs/angular-meteor/client/views/api/api.AngularMeteorCollection.html"
       class="btn btn-default btn-lg improve-button">
      <i class="glyphicon glyphicon-edit">&nbsp;</i>Improve this doc
    </a>

    <do-nothing>
        {{#markdown}}

# AngularMeteorCollection

An object that binds a [Meteor Collection](http://docs.meteor.com/#/full/collections) to an AngularJS scope variable. This is the object that return by calling the [$meteor.collection service](http://angular-meteor.com/api/meteorCollection). It represents the documents that exist in the Meteor local collection

----

## Usage

See [$meteor.collection](/api/meteorCollection)

----

## Methods

<h3><p><code><span class="pln">save( :docs );</span></code></p></h3>
<br>

#### Parameters

<table class="variables-matrix input-arguments">
<thead>
<tr>
  <th>Param</th>
  <th>Type</th>
  <th>Details</th>
  <th>Required</th>
</tr>
</thead>
<tbody>
<tr>
  <td>docs</td>
  <td>
    <a href="" class="label type-hint type-hint-string">empty</a>/
    <a href="" class="label type-hint type-hint-array">array</a>/
    <a href="" class="label type-hint type-hint-object">object</a>
  </td>
  <td><p>The docs to save to the Meteor Collection.
    <ul>
     <li>If nothing is passed, the method saves everything in the AngularMeteorCollection as is.</li>
     <li>If an object is passed, the method pushes that object into the AngularMeteorCollection.</li>
     <li>If an array of objects is passed, the method pushes all objects into the AngularMeteorCollection.</li>
     </ul>
  </p></td>
  <td><a href="" class="label type-hint type-hint-object">No</a></td>
</tr>
</tbody>
</table>

### Returns

<table class="variables-matrix return-arguments">
<tbody><tr>
  <td><a href="" class="label type-hint type-hint-object">object</a></td>
  <td><p>Returns a promise on success with the array of ids and the actions happened: "inserted" or "updated" for each one of the docs </p>
  </td>
</tr>
</tbody></table>
<br>
<h3><p><code><span class="pln">remove( :keys );</span></code></p></h3>
<br>

<h4>Parameters</h4>

<table class="variables-matrix input-arguments">
<thead>
<tr>
  <th>Param</th>
  <th>Type</th>
  <th>Details</th>
  <th>Required</th>
</tr>
</thead>
<tbody>
<tr>
  <td>keys</td>
  <td>
    <a href="" class="label type-hint type-hint-string">empty</a>/
    <a href="" class="label type-hint type-hint-array">array</a>/
    <a href="" class="label type-hint type-hint-object">object</a>
  </td>
  <td><p>The keys of the object to remove from the Meteor Collection.
    <ul>
     <li>If nothing is passed, the method removes all the documents from the AngularMeteorCollection.</li>
     <li>If an object is passed, the method removes the object with that key from the AngularMeteorCollection.</li>
     <li>If an array is passed, the method removes all objects that matches the keys in the array from the AngularMeteorCollection.</li>
    </li>
  </p></td>
  <td><a href="" class="label type-hint type-hint-object">No</a></td>
</tr>
</tbody>
</table>

### Returns
<table class="variables-matrix return-arguments">
<tbody><tr>
  <td><a href="" class="label type-hint type-hint-object">object</a></td>
  <td><p>Returns a promise on success with the array of ids and the "removed" action</p>
  </td>
</tr>
</tbody></table>
<br>
<h3><p><code><span class="pln">subscribe( :subscriptionName );</span></code></p></h3>
<br>
A shorter ('syntactic sugar') function for <a href="/api/subscribe">$meteor.subscribe</a>.

Takes only one parameter and doesn't return a promise like <a href="/api/subscribe">$meteor.subscribe</a> does.

When called after $scope.meteorCollection, it acts the same but in addition it automatically closes the subscription when the scope is destroyed.

<h4>Parameters</h4>

<table class="variables-matrix input-arguments">
  <thead>
  <tr>
    <th>Param</th>
    <th>Type</th>
    <th>Details</th>
    <th>Required</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>subscriptionName</td>
    <td>
      <a href="" class="label type-hint type-hint-string">subscriptionName</a>
    </td>
    <td><p>The subscription name to subscribe to. Exactly like the first parameter in the $meteor.subscribe service.
    </p></td>
    <td><a href="" class="label type-hint type-hint-object">Yes</a></td>
  </tr>
  </tbody>
</table>
#### Returns
None
<br>
<h3><p><code><span class="pln">stop();</span></code></p></h3>
<br>
Stops watching the current collection for changes made in the scope variable or meteor collection. 

#### Parameters
None
#### Returns
None
<br>
----
## Example

    // Bind all the todos to $scope.todos without auto-save
    $scope.todos = $meteor.collection(Todos, false);

    // Add a single todo to the collection
    var todoObject = {name:'first todo'};
    $scope.todos.save(todoObject);  // todos equals [{name:'first todo'}]

    // Add multiple todos to the collection
    var todoArray = [{name:'second todo'}, {name:'third todo'}];
    $scope.todos.save(todosArray);  // todos equals [{name:'first todo'}, {name:'second todo'}, {name:'third todo'}]

    // Add another todo to the collection
    var anotherTodoObject = {name:'fourth todo'};
    $scope.todos.push(anotherTodoObject);  

    /*
     * The scope variable now holds:
     * [{name:'first todo'}, {name:'second todo'}, {name:'third todo'}, {name:'fourth todo'}]
     * 
     * but the collection holds:
     * [{name:'first todo'}, {name:'second todo'}, {name:'third todo'}]
     *
     * that's because auto-save was set to false (the 2nd parameter in the $meteor.collection call).
     * 
     * To save the data we need to explicitly call the save() function:
     */
    $scope.todos.save();

    $scope.todos.remove(firstTodoId); // scope and collection equals to [{name:'second todo'}, {name:'third todo'}, {name:'fourth todo'}]

    $scope.todos.remove(todoIdsArray); // removes everything matches the array of IDs both in scope and in collection

    $scope.todos.pop();  // removes only in scope

    $scope.todos.remove(); // syncs also in Meteor collection

    // Using the subscribe function
    $scope.parties = $meteor.collection(Parties).subscribe('partiesSubscription');

    // With a callback to do something after the todo was saved and to catch errors
    $scope.todos.save(todoObject)
      .then( function() {

        // todos were successfully saved
        console.log('The todo was saved');

      }, function(err) {

        // an error occurred while saving the todos: maybe you're not authorized
        console.error( 'An error occurred. The error message is: ' + err.message);

      });
        {{/markdown}}

    </do-nothing>

  </div>
</template>
